/* src/styles/Home.css */
html, body {
  margin: 0; /* 기본 여백 제거 */
  padding: 0; /* 기본 패딩 제거 */
  height: 100%; /* 전체 화면을 사용하도록 설정 */
  background-color: transparent; /* 배경색을 투명하게 설정 */
}


/* 화면 전체를 채우도록 설정 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 세로 중앙 정렬 */
  min-height: 100vh; /* 화면 전체 높이 */
  width: 100vw; /* 가로 전체 너비 */
  background-image: url("/public/assets/poc.web_background.png"); 
  background-size: cover; /* 배경을 화면에 꽉 채우기 */
  background-position: center; /* 중앙 정렬 */
  background-repeat: no-repeat; /* 반복 제거 */
}

.logo {
  width: 538.83px;
  height: auto;
  margin-bottom: 78px;
}

.description{
  color: #5c4033;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  margin-bottom: 7px;
}

.login-button {
  background: #F892A5;
  border-radius: 100px;
  flex-shrink: 0;
  width: 409.48px;
  height: 52.12px;
  position: relative;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  border: none;
  box-shadow: 0 6px #c1556a;
  top: 0;
  transition: none; /* 기존의 transition 제거 */
}

.login-button:hover {
  box-shadow: 0 3px #812d3d;
  top: 3px;
}

.login-button:active {
  box-shadow: 0 0px #812d3d;
  top: 6px;
}
